:root {
    --color-primary: #dac384;
    --color-secondary: #117eb1;
    --accent1-color: #071310;
    --accent2-color: #070606;
    --heading-font: "Playfair Display",sans-serif;
    --body-font: "inter", sans-serif;
}
header {
    background-color: var(--color-primary);
    color: var(--accent2-color);
    padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

}

* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
header, main, footer {
    width: auto;
    margin: 0 auto; 
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--color-primary);
    
}
nav, p, section {
    margin: 16px;
    padding: 8px;
    
}
.socialmedia {
    display: flex;
    justify-content: end;
    align-items: center;

}
.socialmedia a {
    color: var(--accent1-color);
    text-decoration: none;
    padding: 2px;
    font-size: 1.2rem;

}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
}

.logo  {
    display: flex;
    justify-content: end;    
}
.navigation {
	display: flex;
    justify-content: start;
    align-items: center;
}

.navigation a {
	display: block;
	color: rgb(47, 47, 194);
	padding: 15px;
	text-decoration: none;
	font-size: 1rem;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}


.text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-primary);
}

.cta {
    display: flex;
    justify-content: center; 
    align-items: start;
    flex-direction: column;
    background-color: #5a8d91;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: #080404;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.cta a {
}
.trip-descriptions {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
.trip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #99d5f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
    color: var(--accent1-color);
    transition: transform 0.3s ease;
}
.trip h3{
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin: 10px 0;
    text-align: center;
}
.trip img {
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #f7f4f4;
    display: grid;
}
.trip p {
    font-size: 1.2rem;
    color: var(--accent1-color);
    margin: 10px 0;
    text-align: center;
}
.trip-table h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin: 10px 0;
}
.trip-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    color: var(--accent1-color);
    transition: transform 0.3s ease;
    overflow-x: auto;
    border: 1px solid var(--color-secondary);
    box-sizing: border-box;
    background-color: #f7f4f4;
    color: var(--accent1-color);
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
}
